@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    opacity: 0;
  }
}

@keyframes work {
  to {
    transform: rotate(-35deg) translateY(400px) translateX(-420px);
  }
}

svg {
  width: 100vw; 
  height: 100vh;
  opacity: 0;
  animation: appear 3s forwards, disappear 1s 5s forwards;
}

.hammer {
  transform: rotate(0) translateY(0) translateX(0);
  animation: work 1.5s 1s ease-out alternate;
  animation-iteration-count: 2;
}