body {
  overflow-x: hidden;
}

section {
  width: 100vw; 
  height: 100vh;
  position: relative;
}

.container--horizontal {
  
  height: 300vw;
}

.container--horizontal.is-fixed {
  .container--inner {
    position: fixed;
  }
}

.container--horizontal.is-scrolled {
  .container--inner {
    bottom: 0;
    top: auto;
  }
}

.container--inner {
  width: 300vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.story--container {
  display: flex;
}

.story--board {
  flex-basis: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat';
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

.ui__section{
  background-color: #6A9C9D;
  height: 3vh;
  width: 5vw;
}