@keyframes move {
  to {
    transform: translate(0);
  }
}

@keyframes left {
  to {
  transform: scale(0.8) translateX(-40vh);
  }
}

.storefront__container {
  height: 60vh;
  width: 80vw; 
  margin: 20vh auto; 
  align-self: center;
}

.storefront {
  width: 100%;
  height: 100%;
  animation: left 2s 3s forwards; 
}

.window, .door {
  transform: translateY(100%);
}

.wall--left, .headwall--left {
  transform: translateX(-100%);
}

.wall--right, .headwall--right {
    transform: translateX(100%);
}

.head {
  transform: translateY(-100%);
}

.window, .door, .head {
    animation: move 1.5s forwards;
}

.wall--left, .headwall--left, .wall--right, .headwall--right {
      animation: move 1.5s 1s forwards;
}

.storefront__container {
}

.storetext {
  position: absolute;
  top: 40vh; 
  right: 5vh; 
  font-size: 1.5rem; 
  width: 40vw;
  height: 20vh;
  padding: 20px; 
  line-height: 1.5;
  color: #6A9C9D;
}

.wonderboy {
  position: absolute; 
  top: 50vh; 
  right: 10vh;
  display: none; 
}




// 3D 

.story__board--3d {
}

.builder {
  opacity: 0.1; 
  position: absolute; 
  bottom: -5vh; 
  left: 40vw; 
  height: 40vh; 
  display: none; 
}

.dtitle {
  font-size: 2rem; 
  position: absolute; 
  top: 30vh; 
  right: 50%;
  font-weight: bold; 
  display: none; 
}

.button3d {
  transform: translateY(65vh) translateX(-15vw);
  position: absolute;
  border: solid 2px #E49376;
  background: none; 
  color: #E49376; 
  border-radius: 20px; 
  transition: all 0.5s; 
  width: 15vw; 

  &:hover {
    background: #E49376; 
    color: white; 
  }
}